<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Smart Parking Test Suite" parallel="false">

    <test name="Registration Tests">
        <classes>
            <class name="com.smartparking.tests.RegistrationTests"/>
        </classes>
    </test>

    <test name="Login Tests">
        <classes>
            <class name="com.smartparking.tests.LoginTests"/>
        </classes>
    </test>

    <test name="Home Page Tests">
        <classes>
            <class name="com.smartparking.tests.HomePageTests"/>
        </classes>
    </test>

    <test name="Booking Tests">
        <classes>
            <class name="com.smartparking.tests.BookingTests"/>
        </classes>
    </test>

    <test name="Booking History Tests">
        <classes>
            <class name="com.smartparking.tests.BookingHistoryTests"/>
        </classes>
    </test>

    <test name="AI Recommendation Tests">
        <classes>
            <class name="com.smartparking.tests.AIRecommendationTests"/>
        </classes>
    </test>

    <test name="Payment Tests">
        <classes>
            <class name="com.smartparking.tests.PaymentTests"/>
        </classes>
    </test>

</suite>
